body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #1f1f1f;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    text-align: center;
    width: 350px;
}

h1 {
    color: #00ff99;
    margin-bottom: 20px;
}

select, button {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #00ff99;
    margin-bottom: 15px;
    background-color: #121212;
    color: #e0e0e0;
    font-weight: bold;
    cursor: pointer;
}

button:hover, select:hover {
    background-color: #00cc7a;
    color: #000;
}

.resultado {
    margin-top: 20px;
}

.senha {
    font-size: 20px;
    color: #00ff99;
    word-break: break-all;
    margin-bottom: 10px;
}

.forca {
    font-weight: bold;
    margin-bottom: 10px;
}
